body {
  background-color: LightGray;
}

/*div {
  border: 1px solid Chocolate;
}*/

.top-navigation {
  background-color: #fff;
}

.top-navigation > .content {
  width: 970px;
  height: 70px;
  margin: auto;
}
